/*My colors
green-blue #5cc6d0
*/

* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    font-family: Lato;
    color: #545454;
}

h3,
h2,
h4,
h5 {
    font-family: Lato;
    font-weight: normal;
    color: #545454;
}

body {
    overflow-x: hidden;
}

.col-12 {
    max-width: 90vw;
    padding: 0 3vw;
}

.navbar {
    overflow: hidden;
    background-color: #3b8c9c;
    font-family: lato;
    margin-top: -1px;
}

.horizontal>li {
    float: left;
}

.horizontal li ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}

.horizontal li:hover ul {
    display: block;
    color: rgba(255, 255, 255, .75);
    font-family: Lato;
}

.horizontal li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 12px 10px;
    font-family: Lato;
    font-weight: normal;
    font-size: 0.8vw;
    color: rgba(255, 255, 255, .75);
    text-transform: uppercase;
    letter-spacing: .08em
}

.horizontal li a:hover {
    background-color: #e6e6e6;
    color: #3b8c9c;
    font-family: Lato;
}

.horizontal li:first-child a {
    border-left: 0;
}

.horizontal li:last-child a {
    border-right: 0;
}

#container p,
#container li {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: #545454;
}

#container {
    font-family: Lato;
    max-width: 90vw;
    padding: 0 1%;
}

.btn-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.img-fluid {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.perfil {
    font-family: Lato;
    align-items: center;
    text-align: center;
}

.perfiles {
    display: flex;
    align-items: initial;
    justify-content: space-between;
}

.perfil-speakers {
    font-family: Lato;
    align-items: center;
    text-align: center;
}

.foto-perfil {
    background-size: cover;
    border-radius: 50%;
    height: 1.5625in;
    width: 1.5625in;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-bottom: 15px;
    display: inline-block;
}

.foto-speakers {
    background-size: cover;
    border-radius: 50%;
    height: 1.5625in;
    width: auto;
    margin-bottom: 15px;
    display: inline-block;
    margin-block-start: auto;
    margin-block-end: auto;
}

.row {
    font-family: Lato;
    margin-top: 30px;
    margin-left: 10px;
}

.column-perfil {
    padding: 0 25px;
    text-align: center;
}

.colp1 {
    margin-left: 34vw;
}

.table {
    font-family: Lato;
    font-weight: normal;
    color: #545454;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.35);
    font-family: Lato;
    max-width: 100%;
    width: 100%;
    left: 0;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

.jumboHeaderImg {
    background-image: url("images/superlargo.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.jumboHeaderImgBios {
    background-image: url("images/superlargo.png");
    background-size: cover;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: auto;
}

.fa {
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 90%;
}


/* Twitter */

.fa-twitter {
    color: #545454;
}


/* Facebook */

.fa-facebook {
    color: #545454;
}

.fa-telegram {
    color: #545454;
}

.fa-github {
    color: #545454;
}

.col-center {
    float: none;
    margin: 0 auto;
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
    display: flex;
    justify-content: center;
}

.VPSinstructions {
    padding: 2% 3vw;
}

.VPS-img {
    width: 40%;
    height: auto;
}