/*----------------------------- import fonts -----------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.body {
    color: #906aac;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

h1 {
    font-size: 2.8vw;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-size: 2.9em;
    text-align: center;
    margin-bottom: 4%;
}

h3 {
    font-size: 1.6vw;
    text-align: center;
    color: #5cc6d0;
}

h4 {
    font-size: 18px;
    color: #6D4486;
}

h5 {
    font-size: 1vw;
}

h6 {
    font-size: 0.9vw;
}

p,
li {
    font-size: 1.4em;
    color: rgb(85, 85, 85);
    line-height: 27px;
    list-style-type: none;
}


li {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    font-size: 1em;
    line-height: 27px;
    text-align: center;
}

button {
    background: transparent;
    text-decoration: none;
    border: transparent;
}

input {
    border-radius: 31px;
    height: 41px;
    width: 347px;
    text-align: center;
    color: #5cc6d0;
    border: 3px solid #5cc6d0;
    margin-top: 25px;
    margin-bottom: 30px;
}

.disable {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    width: 100%;
    background: white;
}

.tab-nav{
    border-bottom: 1px solid;
}

.sep {
    color: #6D4486;
}

.separator {
    width: 102%;
    height: 3.5em;
    background-color: white;
    border: white;
}

.logofigure {
    margin: 0 3vw;
}

.index-logo{
    margin-top: 2%;
    height: 4.9vw;
}

.tab-logo{
    height: 3.9vw;
    margin-top: 5%;
}

.arrowfigure {
    margin: 0px -1px 0px 0px;
}

.arrowfigure img {
    height: 5.1vw;
}

.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 5.1vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    text-transform: uppercase;
    margin: 0;
}

nav li {
    margin: 0 19px;
    font-size: 0.9vw;
    font-weight: bold;
}

nav a {
    color: #6D4486;
    font-size: 1.1em;
}

nav a:hover {
    color: #2299A9;
}

.active {
    color: #2299A9;
}

.lang-imige-mobile {
    display: none;
}

.ham {
    display: none;
}

.lang-img {
    width: 24px;
}

.languages {
    margin: 0 0.35vw;
}

.languages a {
    color: #5CC6D0;
}

.highlighted-text {
    font-weight: bolder;
    color: #2299A9;
}

.row {
    display: flex;
    padding: 0;
    margin: 5vw 12vw;
    align-items: center;
    justify-content: center;
}

.banner {
    margin-top: 30px;
    background-image: url("../assets/img/smaller_banner_2.png");
    background-size: cover;
    background-position: center;
    height: 28vw;
}

.banner img {
    opacity: 0.9;
}

.banner h1 {
    position: absolute;
    margin-top: 13vw;

    line-height: 3.5vw;
    margin-left: 4vw;
    word-break: break-all;
}

.h1-en{
    width: 15em;
}

.h1-pt{
    width: 23em;  
}

.h1-es{
    width: 22em;    
}

.banner h3 {
    position: absolute;
    color: #e0e0e0;
    margin-top: 22vw;
    margin-left: 4vw;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 54px;
    padding: 50px;
    background-color: #F4F4F4;
    height: 17em;
}

.details li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 0 2vw;
}

#second-row1,
#second-row2 {
    width: 2%;
    margin-top: 65px;
    margin-bottom: 10px;
}

.details div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
}

.detail p {
    color: rgb(85 85 85 / 82%);
}

.big-text {
    font-size: 1em;
    margin: 0 2px 0 2px;
}

.small-text {
    font-size: 0.56em;
}

.icons-conf {
    width: 75px;
}

.parallelogram {
    width: 33vw;
    height: 3vw;
    transform: skew(-30deg);
    background: #5CC6D0;
    margin-top: -1%;
    margin-bottom: 30px;
    margin-left: -30px;
    z-index: -5;
    position: absolute;
}

.news{
    margin-bottom: 10vw;
}

.news-tab{
    margin-bottom: 20vw;
    margin-top: 15vw;

}
.sponsors-logos h2{
    font-size: 3.5em;
}

.about {
    padding: 3% 2%;
    margin-right: 2%;
    margin-top: 5%;
    text-align: center;
    z-index: 10;
}

.about p {
    margin-bottom: 5%;
    margin-top: 7%;
}

.aboutfigure {
    transform: rotate(5deg);
    position: absolute;
    margin-left: -20.5%;
    margin-top: -4.9%;
    width: 7vw;
}

.buttons {
    margin-top: 17%;
}

.button-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5vw;
}

.button-div a {
    font-size: 2em;
}

.button {
    position: relative;
    width: 15vw;
    padding: 0.7vw 2.6vw;
    margin: 1vw;
    border-radius: 2em;
    color: #FFFFFF;
    background-color: #5cc6d0;
    transition: all 0.2s;
    z-index: 10;
}

.orange-element {
    background-color: #ffa992;
    color: #4d38a5;
}

.button:hover {
    background-color: #ffa992;
    color: #4d38a5;
}

.tittle-div {
    margin-top: 5%;
}

.tittle-suport {
    position: absolute;
    margin-left: -50%;
    margin-top: 3%;
}

.tittle-texts {
    padding-top: 6.2%;
}

.tittle-div h2 {
    font-size: 1.5em;
    text-align: left;
    color: white;
    z-index: 25;
    position: relative;
    margin-left: -14%;
}

.tittle-div h3 {
    font-size: 1.2em;
    text-align: left;
    color: white;
    z-index: 25;
    position: relative;
    margin-left: -14%;
    margin-top: 1%;
}

.speakers-section {
    display: block;
    margin-top: -1%;
    margin-bottom: 10%;
}

.speaker-bio {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    width: 16em;
    height: 350px;
}

.speaker-bio img {
    border-radius: 50%;
    margin-bottom: 2%;
    border: solid 20px #ffa992;
    height: 13em;
}

.speakers-img-left {
    width: 11em;
    position: absolute;
    margin-left: 84%;
    margin-top: 3.5%;
}

.speakers-img-right {
    width: 11em;
    position: absolute;
    margin-top: 1.5%;
    margin-left: 3%;
    transform: scaleX(-1);
}

.speaker-bio figcaption {
    font-size: 1.3em;
    margin-top: 11px;
}

.bios-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5vw;
    width: 100%;
}

.caption-bio {
    font-weight: bolder;
}

.sub-caption-bio {
    color: rgb(92, 198, 208);
    font-weight: normal;
}

.title-div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}


.title-div h2{
    z-index: 83;
    color: #FFFF;
    font-size: 1.9vw;
    margin-left: 1.5%;
    margin-top: 1%;
}

.name{
    font-weight: bold;
    font-size: 1.6vw;
    color: rgb(140, 100, 170);
    margin-top: 15px;
}

.filiation{
    font-size: 1.3vw;
}

.underline {
    height: 6px;
    width: 100px;
    background: rgb(92, 198, 208);
    position: relative;
    border-radius: 15px;
}

.code-button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mujer-code {
    width: 10vw;
    margin-bottom: -5px;
}

.code-of-conduct-section {
    padding: 5% 14%;
    margin-top: -10%;
}

.code-suport {
    width: 24vw;
}

.code-button-section figcaption {
    font-size: 1.8em;
    color: white;
    margin-top: -4.5%;
}

.code-button-section figcaption:hover {
    color: #4d38a5;
}

.code-of-conduct-section div {
    margin: 5% 0;
}

.code-of-conduct-section div:hover {
    transform: scale(1.05);
}

.code-img-left {
    width: 11em;
    position: absolute;
    margin-top: 1%;
    margin-left: 74%;
}

.code-img-right {
    width: 11em;
    position: absolute;
    margin-top: 1%;
    margin-left: -11%;
    transform: scaleX(-1);
}

.code-hojas {
    width: 11em;
    position: absolute;
    margin-top: 1%;
    margin-left: 65%;
    transform: rotate(5deg);
}

.sponsorship-section {
    display: flex;
    flex-direction: column;
    padding: 0 14%;
    margin-bottom: 20%;
    margin-top: 1%;
}

.sponsorship-section h2 {
    margin-bottom: 2%;
}

.sponsorship-section p {
    margin-bottom: 2%;
}

.sponrship-content img {
    width: 8vw;
    position: absolute;
    margin-top: -5%;
    margin-left: 53%;
}

.poster-section {
    position: relative;
    padding: 0 10%;
    margin-top: -24%;
    margin-bottom: 25%;
}

.poster-section article,
.poster-section p {
    margin-bottom: 5%;
}

.comittees {
    margin-top: -5%;
    margin-bottom: 4%;
}

.comittees h2 {
    margin-bottom: 2%;
    margin-top: 2%;
}

.comittees li {
    margin-top: 15px;
}

.registration-section {
    padding: 0 10%;
    margin-top: 8%;
    margin-bottom: 24%;
}

.registration-section h3 {
    color: #5cc6d0;
    font-size: 1.6em;
}


#date-open-2,
#date-close-2 {
    text-decoration: line-through;
}

.table {
    font-family: Lato;
    font-weight: normal;
    color: #545454;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 1.6em;
}

.support-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.sponsors {
    width: 45vw;
    height: 7vw;
    background-color: #6000A5;
    border-radius: 0px 2.7em 2.7em 0px;
    margin-left: -7vw;
}

.supporters {
    width: 45vw;
    height: 7vw;
    background-color: #6000A5;
    border-radius: 2.7em 0px 0px 2.7em;
    margin-left: 58%;
}

.sponsors-tittle-suport {
    width: 35em;
    height: 6em;
    margin-left: 71%;
}

.support-div h2 {
    margin-top: 4%;
    font-size: 3vw;
    margin-left: -4vw;
    color: white;
}

.sponsors-logos{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.row-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

#spyder {
    height: 7.5em;
}

#atg{
    height: 5em;   
}

#toyoko{
    height: 10em;
}

#acmw {
    height: 4em;
}

#mumuki {
    height: 2.5em;
}

.orgas-logo {
    height: 3em;
}

.smaller-orgas-logo {
    height: 4em;
}

.bigger-orgas-logo {
    height: 6em;
}

.hidden {
    display: none !important;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 0;
    padding-top: 3.5%;
    height: 11em;
    z-index: 20;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h4 {
    color: #6D4486;
    margin-bottom: 0px;
}

.mail {
    margin-right: .7vw;
}

address {
    font-size: 1em;
    line-height: 5.2vw;
    color: #6D4486;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
}

.medialinks {
    height: 5.2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 1vw;
    padding: 0;
}

.medialinks li {
    margin: 0 1.5vw;
}

.medialinks img:hover {
    background-color: rgb(92, 198, 208);
    border-radius: 1.4vw;
}

.memberslist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    width: 100%;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: -5vw;
    width: 20vw;
    height: 480px;
}

.speaker-img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 100%;
}

.flag-img {
    width: 3.5vw;
    border-radius: 20%;
    margin-top: -12%;
    margin-left: 40%;
}

.tracks {
    margin-top: 2vw;
}

.tracks h3 {
    text-align: left;
    font-size: 1.9em;
}

.track-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.poster-titles li {
    margin-left: 4%;
    text-align: left;
    color: #906aac;
}

.poster-titles li:hover {
    transform: scale(1);
}

.workshops-section {
    margin-top: -33%;
    margin-bottom: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.workshops-section p {
    margin-bottom: 15px;
}

.workshops-section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.workshops-section img {
    width: 30vw;
}

.arrow {
    height: 15px;
}

.purple-a {
    color: #4d38a5;
    font-weight: bold;
}

.track-header {
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: #FFFFFF;
}


/* Style the button that is used to open and close the collapsible content */

.collapsible {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    cursor: pointer;
}

.collapsible+.content {
    display: none;
}

.collapsible.active+.content {
    display: block;
}

.buscador-section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.buscador-section img {
    width: 116px;
}

.buscador {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sugerencias {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sugerencias li {
    font-size: 1em;
    margin-top: 10px;
}


/* Style the collapsible content. Note: hidden by default */

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.titleposters {
    font-size: 1.3em;
    text-align: left;
    margin-left: 4%;
    color: #906aac;
    margin-bottom: 0;
    margin-bottom: 1.5%;
    display: block;
}

.titleposters:hover {
    cursor: pointer;
}

.titleposters h4 {
    color: #906aac;
    text-decoration: none;
    font-size: 1em;
}

.titleposters h4:hover {
    color: #ffa992;
}


/* The Modal (background) */

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content p:hover {
    transform: scale(1);
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.poster-video {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 35px;
}

.poster-video img {
    width: 80%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.video-frame {
    width: 40vw;
    height: 22vw;
}

.authors-video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.authors-list {
    font-size: 1em;
    margin-bottom: 15px;
    color: gray;
    font-style: italic;
}


/*Program*/

.program-section{
    margin: 5% 0;
}

.table-p {
    margin-left: 20%;
}

.program-section table {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
}

.schedule-table{
    width: 100%;
}

.program-section table thead td {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    line-height: 3vw;
    vertical-align: bottom;
}

.program-section table span {
    font-size: 1.4em;
    font-weight: bold;
    color: #4d38a5;
}

.program-section td {
    text-align: left;
    vertical-align: middle;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    font-size: 1em;
    line-height: 1.1em;
    color: rgb(85, 85, 85);
}

.breaks td {
    line-height: 1.3em;
}

.prog-tracks td {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.4em;
    color:#906aac;
}

.prog-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.prog-button a {
    font-size: 1.6em;
    line-height: 1.8em;
}

.program-section section {
    margin-top: 1%;
}

.program-section p {
    font-size: 15px;
    margin-bottom: 22px;
    margin-top: 18px;
}

.speakers-names {
    color: #906aac;
}